<div class="profile container">
    <!--   maybe make them clickable?  -->
    <div class="row userProfile">
        <div class="col-md-6 col-md-offset-3">
            <h2>Account Details</h2>
            <form novalidate>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 control-group">
                            <label for="name">name</label>
                            <br>
                            <input class="form-control" ng-model="user.name" ng-hide="!name.editing" ng-show="name.editing">
                            <button ng-click="name.editing = !name.editing">done</button>
                            <br>
                            <h4>{{ user.name }}</h4>
                            <button ng-click="!name.editing = name.editing">Edit</button>
                        </div>
                        <div class="col-md-6 control-group">
                            <label for="user">user</label>
                            <br>
                            <input class="form-control" ng-model="user.user" ng-hide="!user.editing" ng-show="user.editing">
                            <button ng-click="user.editing = !user.editing">done</button>
                            <br>
                            <h4>{{ user.user }}</h4>
                            <button ng-click="!user.editing = user.editing">Edit</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 control-group">
                            <label for="email">email</label>
                            <br>
                            <input class="form-control" ng-model="user.email" ng-hide="!email.editing" ng-show="email.editing">
                            <button ng-click="email.editing = !email.editing">done</button>
                            <br>
                            <h4>{{ user.email }}</h4>
                            <button ng-click="!email.editing = email.editing">Edit</button>
                        </div>
                        <div class="col-md-6 control-group">
                            <label for="password">password</label>
                            <br>
                            <input class="form-control" ng-model="user.password" ng-hide="!password.editing" ng-show="password.editing">
                            <button ng-click="password.editing = !password.editing">done</button>
                            <br>
                            <h4>{{ user.password }}</h4>
                            <button ng-click="!password.editing = password.editing">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--    find a way to divide?-->
    <div class="row userData">
        <div class="col-md-6 col-md-offset-3">
            <h2>User Data</h2>

            <form novalidate>
                <div class="form-group">
                    <label for="age">age</label>
                    <br>
                    <input ng-model="user.age" ng-hide="!age.editing" ng-show="age.editing">
                    <button ng-click="age.editing = !age.editing">done</button>
                    <br>
                    <h4>{{ user.age }}</h4>
                    <button ng-click="!age.editing = age.editing">Edit</button>

                    <label for="height">height</label>
                    <br>
                    <input ng-model="user.height" ng-hide="!height.editing" ng-show="height.editing">
                    <button ng-click="height.editing = !height.editing">done</button>
                    <br>
                    <h4>{{ user.height }}</h4>
                    <button ng-click="!height.editing = height.editing">Edit</button>

                    <label for="weight">weight</label>
                    <br>
                    <input ng-model="user.weight" ng-hide="!weight.editing" ng-show="weight.editing">
                    <button ng-click="weight.editing = !weight.editing">done</button>
                    <br>
                    <h4>{{ user.weight }}</h4>
                    <button ng-click="!weight.editing = weight.editing">Edit</button>

                    <label for="gender">gender</label>
                    <br>
                    <input ng-model="user.gender" ng-hide="!gender.editing" ng-show="gender.editing">
                    <button ng-click="gender.editing = !gender.editing">done</button>
                    <br>
                    <h4>{{ user.gender }}</h4>
                    <button ng-click="!gender.editing = gender.editing">Edit</button>

                    <label for="goal">goal</label>
                    <br>
                    <input ng-model="user.goal" ng-hide="!goal.editing" ng-show="goal.editing">
                    <button ng-click="goal.editing = !goal.editing">done</button>
                    <br>
                    <h4>{{ user.goal }}</h4>
                    <button ng-click="!goal.editing = goal.editing">Edit</button>
                </div>
            </form>

        </div>
    </div>
</div>