<div class="profile container">
    <!--   maybe make them clickable?  -->
    <div class="row userProfile">
        <div class="col-md-6 col-md-offset-3">
            <h2>Account Details</h2>
            <form novalidate>
                <div class="form-group">
                    <button class="btn btn-lrg btn-danger" ng-hide="editing" ng-click="editing = true">Edit</button>
                    <button class="btn btn-lrg btn-danger" ng-show="editing" ng-click="saveTheThings(user); editing = !editing">Save</button>
                    <div class="row">
                        <div class="col-md-6 control-group">
                            <label for="name">name</label>
                            <div class="edit" ng-show="editing">
                                <input class="form-control" ng-show="editing" ng-model="user.name">
                            </div>
                            <div class="view" ng-hide="editing">
                                <h4>{{ user.name }}</h4>
                            </div>
                        </div>
                        <div class="col-md-6 control-group">
                            <!--                           USER -->
                            <label for="user">user</label>
                            <div class="edit" ng-show="editing">
                                <input class="form-control" ng-show="editing" ng-model="user.user" ng-hide="!user.editing" ng-show="user.editing">
                            </div>
                            <div class="view" ng-hide="editing">
                                <h4>{{ user.user }}</h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 control-group">
                            <label for="email">email</label>
                            <div class="edit" ng-show="editing">
                                <input class="form-control" ng-show="editing" ng-model="user.email" ng-hide="!email.editing" ng-show="email.editing">
                            </div>
                            <div class="view" ng-hide="editing">
                                <h4>{{ user.email }}</h4>
                            </div>

                        </div>
                        <div class="col-md-6 control-group">
                            <label for="password">password</label>
                            <div class="edit" ng-show="editing">
                                <input class="form-control" ng-show="editing" ng-model="user.password" ng-hide="!password.editing" ng-show="password.editing">
                            </div>
                            <div class="view" ng-hide="editing">
                                <h4>{{ user.password }}</h4>
                            </div>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!--    find a way to divide?-->
    <div class="row userData">
        <div class="col-md-6 col-md-offset-3">
            <h2>User Data</h2>

            <form novalidate>

                <button class="btn btn-lrg btn-danger" ng-hide="dataEditing" ng-click="dataEditing = true">Edit</button>
                <button class="btn btn-lrg btn-danger" ng-show="dataEditing" ng-click="saveUserData(userData); dataEditing = !dataEditing">Save</button>
                
                <div class="form-group">
                    <label for="age">age</label>
                    <div class="edit" ng-show="dataEditing">
                        <input ng-model="user.age" ng-show="dataEditing">
                    </div>
                    <div class="view" ng-hide="dataEditing">
                        <h4>{{ user.age }}</h4>

                    </div>

                    <label for="height">height</label>
                    <div class="edit" ng-show="dataEditing">
                        <input ng-model="user.height" ng-show="dataEditing">
                    </div>
                    <div class="view" ng-hide="dataEditing">
                        <h4>{{ user.height }}</h4>
                    </div>

                    <label for="weight">weight</label>
                    <div class="edit" ng-show="dataEditing">
                        <input ng-model="user.weight" ng-show="dataEditing">
                    </div>
                    <div class="view" ng-hide="dataEditing">
                        <h4>{{ user.weight }}</h4>
                    </div>

                    <label for="gender">gender</label>
                    <div class="edit" ng-show="dataEditing">
                        <input ng-model="user.gender" ng-show="dataEditing">
                    </div>
                    <div class="view" ng-hide="dataEditing">
                        <h4>{{ user.gender }}</h4>
                    </div>

                    <label for="goal">goal</label>
                    <div class="edit" ng-show="dataEditing">
                        <input ng-model="user.goal" ng-hide="dataEditing">
                    </div>
                    <div class="view" ng-hide="dataEditing">
                        <h4>{{ user.goal }}</h4>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>